.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/banner/EVS_BG_MB.png);
    padding: 20px;
    height: 96vh;
    width: 100vw;
}

.app-header {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    text-align: center;
}

/* Tiêu đề chính */
.header-title {
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.app-main {
    width: 100%;
    max-width: 400px;
}

.step-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 14px;
    color: #555;
    font-weight: 500;
    margin-bottom: 4px;
}

/* Trường input */
.input-field {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: whitesmoke;
    color: black;
}

.input-field:focus {
    outline: none;
}

.input-field:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.btn-primary {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    text-transform: uppercase;
}

.btn-primary:hover:not(:disabled) {
    opacity: 0.9;
}

.btn-primary:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Button màu xanh */
.btn-primary-blue {
    background-color: #007bff; /* Màu xanh dương */
    color: white;
}

/* Hiệu ứng khi đang tải (loading) */
.btn-loading {
    /* Thêm hiệu ứng loading nếu cần, ví dụ: */
    position: relative;
    /* Dùng background-color nhẹ hơn để chỉ ra trạng thái */
    background-color: #0056b3; 
}